{% extends 'users/base.html' %}

{% block content %}
    <div id="panel">
        <section>
            <h2>Изменить пароль</h2>
            <form method="post">
                {% csrf_token %}
                <div>
                    <input type="text" name="old_password" id="input1" required>
                    <h3 class="input-label">Старый пароль</h3>

                    <input type="text" name="new_password" id="input2" required>
                    <h3 class="input-label">Новый пароль</h3>

                    <input type="text" name="confirm_new_password" id="input3" required>
                    <h3 class="input-label">Подтверждение пароля</h3>
                </div>
                {% if error_password %}
                    {% for error in error_password %}
                        <li><h4>{{ error }}</h4></li>
                    {% endfor %}
                {% endif %}
                <button type="submit">Сохранить</button>
            </form>
        </section>
    </div>

<script>
    const inputs = document.querySelectorAll('input');
    const labels = document.querySelectorAll('h3');

    inputs.forEach((input, index) => {
    input.addEventListener('input', () => {
        if (input.value !== '') {
        labels[index - 1].classList.add('hide');
        } else {
        labels[index - 1].classList.remove('hide');
        }
    });
    });
</script>
{% endblock content %}
