{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    <div id="panel">
        <section>
            <h2>Вход на сайт</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div>
                    {{field}}
                    <label for="">{{field.label}}</label>
                </div>
                {% endfor %}
                {% if form.errors %}
                <li><h4>Неверный логин или пароль</h4></li>
                {% endif %}
                <button type="submit">Войти</button>
            </form>
            <a href="{% url 'users:reset_password' %}">Забыли пароль?</a>
        </section>
    </div>
{% endblock content %}