{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div id="panel">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="background_icon">
            <img src="{{ user_icon.url }}?{{ random_string }}" alt="user_icon" class="icon_user">
        </div>
        <div class="username">
            <h3>{% trans 'Профиль' %}</h3>    
            <h1 class="title_name">{{ user_obj.username }}</h1>

            <div class="edit_username" onclick="editUsername()">
                <img src="{% static 'img/edit.png' %}" alt="edit">
            </div>

            <input type="text" name="new_username" class="new_username" style="display: none;">
        </div>

        {% for field in profile_form %}
            {% if field.name == 'icon' %}
                <div class="new_icon">
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        
        <h1 class="settings_profile">{% trans 'Настройки профиля' %}</h1>

        <div class="settings_email">
            <div class="email">
                <h1>{% trans 'Почта:' %}</h1>
                <h1 class="user_obj_email">{{ user_obj.email }}</h1>
            </div>

            <div class="edit_email" onclick="editEmail()">
                <img src="{% static 'img/edit.png' %}" alt="edit">
            </div>

            <input type="text" name="new_email" class="new_email" style="display: none;">
            {% if error_email %}
                <ul class="error_email">
                    <li>{% trans 'Неправильный адрес эл. почты' %}</li>
                </ul>
            {% endif %}
        </div>

        <div class="settings_password">
            <a href="{% url 'users:change_password' user_id=user_obj.id %}">{% trans 'Изменить пароль' %}</a>
        </div>

        <div class="change_language">
            <h1>{% trans 'Настройки сайта' %}</h1>
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == current_language %} selected="selected"{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="save_change">{% trans 'Сохранить' %}</button>
    </form>

    <a href="{% url 'users:logout' %}" class="a-logout">{% trans 'Выйти с аккаунта' %}</a>
</div>

<script>
function editUsername() {
    var username = document.querySelector('.title_name');
    var editForm = document.querySelector('.new_username');
    
    username.style.display = 'none';
    editForm.style.display = 'block';
}

function editEmail() {
    var email = document.querySelector('.user_obj_email');
    var editForm = document.querySelector('.new_email');

    email.style.display = 'none';
    editForm.style.display = 'block';
}
</script>

{% endblock content %}
