{% extends 'users/base.html' %}

{% block content %}
    <div id="panel">
        <section>
            <h2>Сброс пароля</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div>
                    {{field}}
                    <label for="">{{field.label}}</label>
                </div>
                {% endfor %}
                <button type="submit">Отправить письмо</button>
            </form>
        </section>
    </div>
{% endblock content %}
